In [1]:
# indexing
`

SyntaxError: invalid syntax (Temp/ipykernel_220/3888417817.py, line 2)

In [ ]:
# making a string
a = "samosa pakora"
a

In [ ]:
# as indexing start with 0 the first element on 0 is s in string a
a[0]

In [ ]:
# the second element on index 1 is s 
a[1]

In [ ]:
# the third element on index 2 is m 
a[2]

# index length
## to find index length

In [ ]:
len(a)

In [2]:
a

NameError: name 'a' is not defined

In [ ]:
# as above the length of the string is 13 
# here a[13] then it will print the 12th element which is a
a[12]

In [ ]:
# if you wana show the some of element the write the intex from start point to the last
a[0:6]

In [ ]:
# in a[0:6] means start from 0 exculting 6 
# last element is exculsive

# writing from last of the index

In [ ]:
# for last element 
a[-1]

In [ ]:
#for second last element 
a[-2]

In [ ]:
a

In [ ]:
# if you wana last word the we need to find the total length of string then we can print
len(a)

In [ ]:
#as length is 13 so we can print the last word as 
a[-6:13]

# strng method

In [ ]:
food = "biryani"
food

In [ ]:
len(food)

In [ ]:
# for capitalization 
food.capitalize()

In [ ]:
# for upper case
food.upper()

In [ ]:
# for lower case
food.lower()

In [ ]:
# for replacement any element (here we replace b with sh in string)
food.replace("b","sh")

# for counting specific alphabates

In [ ]:
food.count("i")

In [ ]:
name="python with baba ammar"
name.count("w")

# find the index number of an alphbate

In [ ]:
name="python with baba ammar"
name.find("m")
# m is on index 18

## how to splite the string

In [ ]:
food="chiken,beef,baverage,kharhi and raita"
food.split(",")
# split the string by "," by comma

---

# Basic data sturcture in python

## 1-Tuple
## 2- list
## 3- Dectionaries
## 4- Sets

# 1- Tuple
- Order collection of elements
- enclose in round brases () /paranthesis
- Different kind of elements can be stored
- Once elements are stored you can not change them (unmutatable)

In [ ]:
tup1 =(10,"anaconda",5.4,True,False)
tup1

In [ ]:
#type of tuple
type(tup1)

### - Indexing in tuple

In [ ]:
tup1[0]

In [ ]:
tup1[1]

In [ ]:
# exculisve 6 index
tup1[0:6]

In [ ]:
tup2 =(40,30,"python",30.5)
# concatincate (add 2 or more tuple)
tup1 + tup2

In [ ]:
# concatinate + repeat
tup1*2+tup2

In [ ]:
tup3=(4,3,2,5,6,8)
tup3+tup3

In [ ]:
# find min element 
min(tup3)

In [ ]:
#find max element
max(tup3)

In [ ]:
tup1 +tup2 +tup3

## Assignement of tuple

In [ ]:
tup3.

---

# 2-List
- Order collection of elements
- enclosed in [ ] square braces/brakets
- Mutateable, you can change the value

In [ ]:
list1=[4,6,7,"ammar",4.3]
list1

In [ ]:
#checking length of the list
len(list1)

In [ ]:
# value of index 0 is 4
list1[0]

In [ ]:
list2=["samosa",4,3,"raita"]
list2

In [ ]:
#concatinate list1 and list2 (adding)
list1 + list2

In [ ]:
# Assignement appling all functions

In [3]:
# List3 define
list3=["sami","python","khan",3,9]
list3

['sami', 'python', 'khan', 3, 9]

In [4]:
# Reverse function(ascending/descending)
list3.reverse()
list3

[9, 3, 'khan', 'python', 'sami']

In [17]:
list4=[10,9,8,4,3,11,19]
list4

[10, 9, 8, 4, 3, 11, 19]

In [18]:
list4.reverse()
list4

[19, 11, 3, 4, 8, 9, 10]

In [19]:
# sort function(ascending/descending) Numbers in list
list4.sort()
list4

[3, 4, 8, 9, 10, 11, 19]

In [20]:
# append function use for adding new element in list
list4.append(100)
list4

[3, 4, 8, 9, 10, 11, 19, 100]

In [26]:
# count function use for count specific element in list
list4.count(4)

1

In [29]:
list4.copy()

[3, 4, 8, 9, 10, 11, 19, 100]

In [31]:
# index function use for find the index of require element
list4.index(10)

4

In [58]:
# extending function use for extending index with new element
list4.extend("asd")
list4

[4, 8, 9, 11, '4', '9', '9', '9', '7', '5', '7', '5', 'a', 's', 'd']

In [54]:
list4

[4, 8, 9, 11, 100, '4', '9', '9', '9', '7', '5']

In [66]:
# pop function use for remove/delete the indexed element
list5=[1,2,3,4]
list5.pop(2)
list5

[1, 2, 4]

In [64]:
list4

[4, 8, 9, 11, '7', '5', '7', '5', 'a', 's', 'd']

In [46]:
# to remove an element
list4.remove(3)

In [47]:
list4

[4, 8, 9, 11, 19, 100, '4', '4', '9', '9', '9']

In [52]:
list4.remove(19)
list4

[4, 8, 9, 11, 100, '4', '9', '9', '9']

---

### 3-Dictionaries
-An unordered collection of element
-enclosed in { } curly braces or brakets
-key and value
-Matutable,Changeable value

In [67]:
#items and their prices
food1={"Mangos":50,"bananas":40,"orange":60}
food1

{'Mangos': 50, 'bananas': 40, 'orange': 60}

In [68]:
#type
type(food1)

dict

In [69]:
#length of dictionary
len(food1)

3

In [70]:
# extract keys form dictionary
food1.keys()

dict_keys(['Mangos', 'bananas', 'orange'])

In [71]:
# extract values/price 
food1.values()

dict_values([50, 40, 60])

In [72]:
food1.items()

dict_items([('Mangos', 50), ('bananas', 40), ('orange', 60)])

In [79]:
#update use for adding item method 1
food1["apple"]=10
food1

{'Mangos': 50, 'bananas': 40, 'orange': 60, 'apple': 10}

In [82]:
#update use for adding item method 2

food1.update(c=60)
food1

{'Mangos': 50, 'bananas': 40, 'orange': 60, 'apple': 10, 'c': 60}

In [83]:
#update use for adding item method 3(same item replaced)

food1.update(c=70)
food1

{'Mangos': 50, 'bananas': 40, 'orange': 60, 'apple': 10, 'c': 70}

In [86]:
food2={"dates":100,"pear":50}
food2

{'dates': 100, 'pear': 50}

In [88]:
# concatinate in dictionary
food3=food1 + food2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [89]:
# concatinate in dictionary we need to update first
food1.update(food2)

In [90]:
food1

{'Mangos': 50,
 'bananas': 40,
 'orange': 60,
 'apple': 10,
 'c': 70,
 'dates': 100,
 'pear': 50}

---

# 4-Sets
-unordered and un index
-curly braces { } use
-noduplicated allowed

In [114]:
s1={1,2,3,"ammar","sami"}
s1

{1, 2, 3, 'ammar', 'sami'}

In [112]:
s1.add("ammar")

In [113]:
s1

{'ammar'}

In [104]:
# discard use for remove/delete the element 
s1.discard(2)
s1

{1, 3, 'ammar', 'sami'}

In [115]:
# pop use for remove element
s1.pop()
s1

{2, 3, 'ammar', 'sami'}

In [117]:
# update use for update or add element
s1.update("r")

In [121]:
s2={3,"ali"}

In [122]:
# use for difference between s1 and s2
s1.difference(s2)

{2, 'ammar', 'r', 'sami'}

In [139]:
s3={3,4,5,6,7}
s4={5,6,7,9,10,11,12}

In [133]:
#The difference_update() updates the set calling difference_update() method 
#with the difference of sets. If A and B are two sets.
#The set difference of A and B is a set of elements that exists only in set A but not in B (by google)
s3.difference_update(s4)
s3

{3, 4}

In [136]:
#intersection 
##The set intersection of A and B is a set of elements that exists  in set A and B both (by google)

s3.intersection(s4)

{5, 6, 7}

In [152]:
s5={2,3,4}
s6={4,5,6}
s6

{4, 5, 6}

In [153]:
s5

{2, 3, 4}

In [154]:
# The intersection_update() method removes the items that is not present in both sets
# form first set
s5.intersection_update(s6)

In [155]:
s5

{4}

In [156]:
s6

{4, 5, 6}

In [157]:
s6

{4, 5, 6}

In [159]:
# conditional functions
s6.issubset(s5)

False

In [160]:
s6.isdisjoint(s5)

False

In [162]:
s5

{4}

In [161]:
s6.symmetric_difference(s5)

{5, 6}